@model CurrencyConverter
@{
    decimal priceRub = 1000;
}
<div>
    <div>
        @($"Курс доллара: {Model.USD}, цена в долларах: {Decimal.Round(Model.ConvertToUSD(priceRub), 2)}")
    </div>
    <div>
        @($"Курс евро: {Model.EUR}, цена в евро: {Decimal.Round(Model.ConvertToEUR(priceRub), 2)}")
    </div>
</div>